/* Adjustments to Header */
#seedbot-chat-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1b3863; /* Dark Blue */
    color: #f0f0f0; /* Light Text */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
}

#seedbot-avatar img {
    width: calc(1/6 * 100%); /* Avatar takes up 1/6th of the header width */
    max-width: 50px;
    aspect-ratio: 1/1;
    margin-right: 10px;
}

#seedbot-chat-header-inner {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#seedbot-options {
    display: flex;
}

.seedbot-option {
    background-color: #6b8e6b; /* Dark Green */
    color: #f0f0f0; /* Light Text */
    border-radius: 10px;
    padding: 10px;
    margin: 0 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}

.seedbot-option:first-child {
    flex: 0 0 calc(1/6 * 100%); /* Take up 1/6th of the width */
}

.seedbot-option:nth-child(2) {
    flex: 1; /* Fill remaining space */
}

/* Apply hover effect to options */
.seedbot-option:hover {
    background-color: #8faea4; /* Lighter Green */
}

/* Align input and button */
.seedbot-user-input {
    display: flex;
    margin-top: 10px;
    align-items: center;
}

#seedbot-user-message {
    flex: 1;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 5px;
}

#seedbot-send-button {
    padding: 5px 10px;
    border: none;
    background-color: #4caf50;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}
